.information__logo__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information__logo__regular {
    overflow: visible;
    transition: all .4s linear;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -ms-transition: all .4s linear;
    -o-transition: all .4s linear;
}

.information__logo__hover {
    position: absolute;
    top: 1.5rem;
    left: 0.5;
    opacity: 0;
    visibility: hidden;
    transition: all .4s linear;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -ms-transition: all .4s linear;
    -o-transition: all .4s linear;
}

.information__logo__wrapper:hover .information__logo__hover {
    opacity: 1;
    visibility: visible;
    transform: translateY(-25px);
    -webkit-transform: translateY(-25px);
    -moz-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    -o-transform: translateY(-25px);
}

.information__logo__wrapper:hover .information__logo__regular {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-25px);
    -webkit-transform: translateY(-25px);
    -moz-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    -o-transform: translateY(-25px);
}