@media only screen and (max-width: 1750px) {
    .contact-us__content {
        max-width: 100% !important;
        margin-top: 5rem;
        margin-right: 0;
    }
    .contact-us__map {
        width: 100%;
    }
}


@media only screen and (max-width: 1200px) {
    .projects__bg {
        width: 100% !important;
        margin-top: 15rem;
    }

    .projects__content {
        width: 100%;
        right: 0;
        top: -20rem;
    }

    .swiper-pagination-bullet {
        color: #ffffffaf !important;
        opacity: 1 !important;
    }

    .swiper-pagination-bullet:hover {
        color: #fff !important;
        opacity: 1 !important;
    }

    .swiper-pagination-bullets {
        padding-right: 0;
    }

    .swiper-pagination-bullet-active {
        color: #fff !important;
    }

    .news__latest-news {
        width: 100% !important;
    }

    .news__boxes__box {
        width: 27rem !important;
    }

    .news__boxes {
        margin-top: 5rem;
        justify-items: center;
        align-items: center;
    }

}

@media only screen and (max-width: 992px) {
    .news__boxes__box {
        width: 20rem !important;
    }

    .contact-us__content {
        max-width: 100%;
    }

    .footer__list__items {
        padding-right: 0;
    }
}

@media only screen and (max-width: 768px) {
    .articles-box::before {
        width: 15rem;
        top: 100%;
        right: 8rem;
        bottom: 0;
        transform: rotate(0);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
    }

    .news__boxes {
        grid-template-columns: repeat(1, 1fr);
    }

    .news__boxes__box {
        width: 100% !important;
    }

    .contact-us-box {
        width: 100%;
    }

    .contact-us-box__text {
        max-width: 100% !important;
    }

    .footer {
        padding: 2rem;
    }

    .footer__lists {
        justify-content: start !important;
    }

}

@media only screen and (max-width: 576px) {
    .customers-box__image__wrapper {
        width: 100%;
    }

    .customers-box__image {
        width: 100%;
    }

    .customers-box__content {
        width: 100%;
    }

    .articles-box::before {
        right: 6rem;
    }


    .header-slider__title {
        font-size: 2.5rem;
    }

    .contact-us__map {
        width: 100%;
    }

    .navbar__logo::before {
        display: none;
    }

    .navbar__logo {
        width: 7rem;
        margin-right: 0;
    }

    .navbar__item {
        padding: 1rem 1.5rem;
    }

    .navbar__hamburger__wrapper {
        padding: 2rem 1.5rem;
    }

    .navbar__shop__badge {
        top: 0.7rem;
    }
}

@media only screen and (max-width: 425px) {

    .articles-box::before {
        right: 5rem;
    }

}

@media only screen and (max-width: 375px) {

    .articles-box::before {
        right: 3rem;
    }

}