.button__style {
    padding: 15px 35px;
    background-color: var(--primary-color);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.button__style:hover {
    background-color: var(--text-color);
}