html {
  overflow-x: hidden !important;
}

body {
  margin: 0;
  font-family: "IRANSans" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {

}

a {
  text-decoration: none;
  color: var(--text-color) !important;
}